@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> Aleky Toy Shop </h2>

<table class="table table-bordered">
    <tr>

    </tr>
</table>
<!-- Product page if needed -->
<br />
<!-- Kết thúc -->
